@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.app-container {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  background-color: #F8F8F8;
  overflow: hidden;
}

.header-container {
  margin-top: 100px;
  margin-left: 40px;
  border-radius: 50px;
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 32px 49px -4px rgba(0,0,0,0.1);
}

.logo-container {
  display : flex;
  align-items: center;
}

.logo {
  height: 120px;
  transition: 2s;
  border-radius: 50%;
}

.logo:hover {
  transform: rotate(360deg);
}

.logo-text {
  margin-left: 30px;
  font-size: 40px;
}

.cart-button-container {
  margin-left: auto;
  margin-right: 60px;
}

.menu-container {

  width: 80%;
  margin-top: 60px;
  transition: 0.5s;
}

.menu-item {

  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-size: cover ;
  box-shadow: 10px 10px 49px -4px rgba(0,0,0,0.45);
  transition: 0.5s;
}

.menu-item:hover {
  transform: scale(1.2);
}

.menu-item h3 {
  text-align: right;
}

.menu-item-add-btn {
  margin-top: 50px;
}

.menu-item button {
  width: 50px;
  height: 50px;
  margin-top: 100px;
  margin-left: 140px;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 5px 5px 49px -4px rgba(0,0,0,0.75);
  cursor: pointer;
  outline: none;
}

.menu-container-ul {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.menu-container-ul li {
  list-style: none;
  margin-right: 70px;
  width: 180px;
  height: 250px;
}

li {
  list-style: none;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.cart-item {
  margin-left: -40px;
}

.cart-item-des {
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 5px;
}

.cart-item-des h2, h3 {
  margin-left: 20px;
}

.remove-btn {
  border-radius: 8px;
  width: 80px;
  height: 30px;
  border: 2px solid #d9534f;
  font-weight: bold;
  background-color: #ffffff;
  color: #d9534f;
  margin: -30px 10px 10px 150px;
  transition: 0.5s;
}

.remove-btn:hover {
  background-color: #d9534f;
  color: #ffffff;
}

.main-container {
  display: flex;
}

.preview-order-btn {
  position: absolute;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  border: 3px solid	#0275d8;
  background-color: #ffffff;
  color: #0275d8;
  font-size: 14px;
  font-weight: bold;
  bottom: 20px;
  left: 50px;
  transition: 0.5s;
}

.preview-order-btn:hover {
  background-color: #0275d8;
  color: #ffffff;
}

.cart-container {
  position: relative;
  width: 300px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 400px;
  transition: 1s;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -4px -1px 46px -14px rgba(0,0,0,0.45);
}

.cart-items-container {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 450px;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.empty-msg {
  margin-left: 20px;
  color: #555;
}

.cart-button {
  background-image: url('./res/cart.jpg');
  background-size: cover;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}